<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OT - Available exams</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body class="hr exams-part">
    <div class="page-content">
      <div class="page-navbar">
        <div class="welcome">
          <p>Welcome <span><%= username %></span></p>
        </div>
        <div class="logout">
          <a href="/logout" class="btn btn-trans">Logout</a>
        </div>
      </div>
      <div class="content-area">
        <div class="container">
          <div class="exams">
            <h3>Available Exams Types</h3>
            <div class="insert-box">
              <form action="/exam-type" method="post">
                <div class="form-group">
                  <label for="name">Type</label>
                  <input type="text" name="name" id="name" value="" class="form-control" placeholder="Add exam type" required>
                </div>
                <div class="text-right">
                  <input type="submit" name="" value="Insert" class="btn btn-success">
                </div>
              </form>
            </div>
            <% for ( var i = 0; i < types.length; i++ ){ %>
              <div class="exam-type">
                <div class="head">
                  <h5><%= types[i].name %></h5>
                  <div class="buttons">
                    <a href="/exam-type?id=<%=types[i]._id%>" class="btn btn-info"><img src="icons/edit.svg" alt=""></a>
                    <a href="/exam-type-delete?id=<%=types[i]._id%>" class="btn btn-danger" ><img src="icons/trash.svg" alt=""></a>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    
    <script src="js/jquery.3.3.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
