<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Testing</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body class="home">
    <div class="page-content">
      <div class="container">
        <div class="text text-center">
          <h1>Welcome to our online testing website</h1>
          <div class="buttons">
            <a href="/login" class="btn btn-trans">Login</a>
            <a href="/register" class="btn btn-yellow">Register</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
